
.title{
    width: 1335px;
    height: 125px;
    padding-left: 10px;
    background-image: url(pic9.jpg);
    image-resolution: 300dpi;

}
.title img{
    width: 125px;
    height: 125px;
    border-radius: 75px;
    padding-left: 10px;
}
.title h1{
    font-size: 45px;
    color: black;
    float: right;
    text-shadow: 25px;
    padding-right: 650px;
    
}
.menu{
    margin-top: -18px;
    height: 40px;
    width: 1345px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);     
}
ul{
    padding: 10px;
    list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    font-size: 20px;
    border: 0px solid #fff;
    transition: 0.6 ease;
}
ul li a:hover{
    background-color: black;
    color: white;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
.slideshow-container {
    max-width: 900px;
    max-height: 200px;
    position: relative;
    float: left;
    margin: auto;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
img {
    box-align: middle;
    vertical-align: middle;
}
.main{
    width: 1340px;
    height: 850px;
    border: 5px;
    margin-top: -45px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);     

}
.main h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    color: black;
    text-decoration: none;
}
.slide1{
    width: 1340px;
    height: 250px;
    box-sizing: border-box;
    size: 20px;
    margin-top: -20px;
}
.slide1 div{
    margin: 40px;
    margin-top: 0px;

}
div .part1{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    background-image: url(char1.png);
    
}
 
.part2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    background-image: url(warangal1.png);
    
}
.part3{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    background-image: url(badrachalam1.jpg);
    
} 
.part4{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    background-image: url(adi.png);
    
} 

.option{
    width: 1340px;
    height: 60px;
    box-sizing: border-box;
    size: 20px;
    margin-top: 0px;
}
.option div{
    margin: 40px;
    margin-top: 5px;
}
div .link1{
    width: 250px;
    height: 60px;
    float: left;
    size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
    margin-top: -40px;
    transition: transform .2s;
    border-radius: 50px;
    
} 
.link1:hover{
    transform: scale(1.1);
}
div .link2{
    width: 250px;
    height: 60px;
    float: left;
    size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
    margin-top: -40px;
    border-radius: 50px;
    transition: transform .2s;
} 
.link2:hover{
    transform: scale(1.1);
}
div .link3{
    width: 250px;
    height: 60px;
    float: left;
    size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
    margin-top: -40px;
    border-radius: 50px;
    transition: transform .2s;
}
.link3:hover{
    transform: scale(1.1);
} 
div .link4{
    width: 250px;
    height: 60px;
    float: left;
    size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
    margin-top: -40px;
    border-radius: 50px;
    background-color: white;
    transition: transform .2s;
} 
.link4:hover{
    transform: scale(1.1);
}
a{
    font-size: 23px;
    text-decoration: none;
    color: white;
    padding-top: 20px;
    align-items: center;
    filter: opacity(2);

}

.slide2{
    width: 1340px;
    height: 250px;
    box-sizing: border-box;
    size: 20px;
    padding-left: -10px;
    margin-top: -20px;
}
.slide2 div{
    margin: 40px;
    margin-top: 0px;

}
div .part5{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    background-image: url(anantha.png);
    
} 
.part6{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    background-image: url(ya.png);
    
} 
.part7{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    background-image: url(nar.png);
    
} 
.part8{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    background-image: url(medak11.jpg);
    
} 
.option1{
    width: 1340px;
    height: 60px;
    box-sizing: border-box;
    size: 20px;
    margin-top: 0px;
}
.option1 div{
    margin: 40px;
    margin-top: 0px;
}
div .link5{
    width: 250px;
    height: 60px;
    float: left;
    size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
    margin-top: -40px;
    border-radius: 50px;
    transition: transform .2s;
    
} 
.link5:hover{
    transform: scale(1.1);
}
div .link6{
    width: 250px;
    height: 60px;
    float: left;
    size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
    margin-top: -40px;
    border-radius: 50px;
    transition: transform .2s;
    
} 
.link6:hover{
    transform: scale(1.1);
}
div .link7{
    width: 250px;
    height: 60px;
    float: left;
    size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
    margin-top: -40px;
    border-radius: 50px;
    transition: transform .2s;
    
} 
.link7:hover{
    transform: scale(1.1);
}
div .link8{
    width: 250px;
    height: 60px;
    float: left;
    size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
    margin-top: -40px;
    border-radius: 50px;
    background-color: white;
    transition: transform .2s;
    
} 
.link8:hover{
    transform: scale(1.1);
}
.bottom{
    width: 1340px;
    height: 300px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 100%, #000000 100%);
}
.bottom td{
    width:333px;
    font-size: 18px;
    color: white;
    padding-left: 80px;
}
h3{
    text-decoration: underline;
    color: aqua;
}
a{
    font-size: 20px;
    color: white;
    align-items: center;
    text-decoration: none;
}
.btn{
    background-color: black;
}
    


